{% liquid
  comment
    Renders a sibling product swatch.

    Required parameters:
      - context: { String } Where the swatch is being rendered (the swatch markup can vary depending on the context). Can be:
        - 'product-page'
        - 'product-item'
      - forloop_index: { Number } Taken from the option looping through values.
      - sibling_product: { Object } The product object for a sibling swatch.
      - sibling_label_name: { String } The option name whose values should display as swatches. Is downcased and has newlines stripped.
      - sibling_option_name: { String } The current option value being rendered as a swatch.
      - custom_color_key_map: { Object } An array of custom swatch color keys (names).
      - custom_color_value_map: { Object } An array of custom swatch color values (HEX values).
      - swatch_size: { Number } The width of the swatch.
      - swatch_image_width: { Number } The width of the swatch image source.
      - selected_value: { Boolean } The currently selected option value. Only applies to variant picker swatches to determine whether the current swatch is selected.
  endcomment

  assign file_extension = '.png'
  assign sibling_swatch_use_product_image = settings.product_show_siblings_product_image

  if context == 'product-item'
    assign sibling_swatch_use_product_image = settings.product_listing_show_siblings_product_image
  endif

  capture swatch_html
    assign downcased_sibling_value_name = sibling_option_name | strip | downcase
    assign downcased_sibling_label_name = sibling_label_name | strip | downcase

    for option in sibling_product.options_with_values
      assign downcased_option_name = option.name | downcase

      if downcased_option_name == downcased_sibling_label_name
        for value in option.values
          assign downcased_value_name = value.name | downcase

          if downcased_value_name == downcased_sibling_value_name
            assign sibling_value = value
            break
          endif
        endfor
      endif
    endfor

    if sibling_swatch_use_product_image and sibling_product.featured_media != blank
      echo sibling_product.featured_media | image_url: width: swatch_image_width | image_tag: alt: sibling_option_name, loading: 'lazy', role: 'presentation'
    else
      if sibling_value.swatch and sibling_value.swatch.image
        echo sibling_value.swatch.image | image_url: width: swatch_image_width | image_tag: alt: sibling_value, loading: 'lazy', role: 'presentation'
      else
        assign custom_swatch_image = downcased_sibling_value_name | handle | append: file_extension
        if images[custom_swatch_image] != blank
          echo images[custom_swatch_image] | image_url: width: swatch_image_width | image_tag: alt: downcased_sibling_value_name, loading: 'lazy', role: 'presentation'
        endif

        # color
        if sibling_value.swatch and sibling_value.swatch.color
          assign background_color_value = sibling_value.swatch.color | downcase | replace: ' ', ''
        elsif custom_color_key_map contains downcased_sibling_value_name
          for color_name in custom_color_key_map
            if color_name == downcased_sibling_value_name
              assign background_color_value = custom_color_value_map[forloop.index0]
              break
            endif
          endfor
        else
          assign background_color_value = sibling_product.metafields.stiletto.sibling_option_name | downcase | replace: ' ', ''
        endif

        assign swatch_background_style = 'background-color: [[bcv]];' | replace: '[[bcv]]', background_color_value
      endif
    endif
  endcapture
%}

{% case context %}
  {% when 'product-item' %}
    <li
      class="product-swatches-options__item product-swatches-options__item--swatch"
      data-swatch-shape="{{ settings.swatch_shape }}"
      style="{{ swatch_background_style }}"
      aria-label="{{ sibling_label_name }} {{ sibling_option_name }}"
    >
      {{- swatch_html -}}
    </li>
  {% else %}
    {% if sibling_product != blank %}
      <a
        href="{{ sibling_product.url }}"
        data-shape="{{ settings.swatch_shape }}"
        data-size="{{ swatch_size }}"
        class="
          product__color-swatch
          product__color-swatch--sibling-product
          {% if selected_value %}
            selected
          {% endif %}
        "
        style="{{ swatch_background_style }}"
        data-sibling-swatch
        data-sibling-cutline="{{ sibling_product.metafields.stiletto.sibling_option_name }}"
        aria-label="{{ sibling_product.metafields.stiletto.sibling_option_name }}"
      >
        {{- swatch_html -}}
      </a>
    {% endif %}
{% endcase %}
